ul {
  list-style-type: none;
  overflow: hidden;
  list-style-position: inside;
}

.send-msg {
  float: right;
  text-align: left;
}

.received-msg {
  float: left;
  text-align: left;
  background: #c1c1c1;
}

.chats {
  height: 90%;
  overflow-x: scroll;
  overflow-x: hidden;
}

.chats ul li {
  list-style: none;
  clear: both;
  font-size: 13px;
  overflow: auto;
  overflow-wrap: break-word;
  margin-top: 6pt;
  max-width: 75%;
  padding: 4px;
}
